Options -MultiViews

# React Router / SPA fallback

# Works even when some hosts partially restrict mod_rewrite.

ErrorDocument 404 /index.html

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

    RewriteRule ^index\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]

</IfModule>
